body {
  background-color: #777;
}


.slide__wrapper {
  position: relative;
  
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  
  max-width: 450px;
  width: 100%;
  height: 100vh;
}

.slide {
  display: flex;
  height: 100%;
}

.slide__wrapper .slide li.active {
  flex-shrink: 0;
  max-width: 100vw;
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__wrapper .slide__controls {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  
}
.slide__wrapper .slide__controls button {
  width: 35%;
  height: 100vh;
  
  background: none;
  border: none;
  outline: none;
}
  

.slide__thumb {
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  max-width: 100%;
  top: 2px;
  left: 0;
}

.slide__thumb span {
  position: relative;
  background-color: #777;
  border-radius: 5px;
  overflow: hidden;

  left: 0;
  margin: 2px;

  max-width: 100%;
  width: 100px;
  height: 2px;
}

.slide__thumb span div {
  content: '';
  position: absolute;
  
  display: block;
  width: 0%;
  height: 100%;
  background-color: #fff;
}

.slide__message {
  position: absolute;
  display: block;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  
  font-weight: bold;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 8px;
  background-color:#333333;
  color: #fff;
  padding: 6px;
    
  opacity: 0;
  top: 16px;
  right: 10px;
  
  animation: opacity-message 0s forwards;
  animation-delay: .2s;
}  

@keyframes opacity-message {
  to {
    opacity: 1;
  }
}